# Auto detect text files and perform LF normalization
* text=auto

*.js linguist-generated=true

# Mark language-specific files
*.swift linguist-language=Swift
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.json linguist-language=JSON
*.html linguist-language=HTML
*.css linguist-language=CSS
*.md linguist-language=Markdown
